* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 20px auto;
  padding: 20px;
  max-width: 300px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

::selection {
  color: steelblue;
  background: rgba(255, 105, 180, 50%);
}

h1 {
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px hotpink;
}

ul[role='list'] {
  list-style: none;
}
