* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 20px auto;
  padding: 20px;
  max-width: 300px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

::selection {
  color: steelblue;
  background: rgba(255, 105, 180, 50%);
}

h1 {
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px hotpink;
}

ul[role='list'] {
  list-style: none;
}

button {
  margin-top: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: hotpink;
  color: steelblue;
  border: solid 1px steelblue;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.4s;
}

button:active {
  color: hotpink;
  background-color: steelblue;
  box-shadow: 0 0 10px hotpink;
}
